* {
     margin: 0;
     padding: 0;
}

body {
     background-color: rgb(106, 125, 72);
     text-align: center;
}

.container {
     height: 70vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.game {
     height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}

.box {
     height: 18vmin;
     width: 18vmin;
     background-color: rgb(179, 187, 217);
     border-radius: 1rem;
     border: none;
     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
     font-size: 8vmin;
     color: rgb(106, 39, 15);
     cursor: pointer;
}

#reset {
     padding: 1rem;
     font-size: 1.25rem;
     background-color: rgb(179, 148, 12);
     border-radius: 0.5rem;
     border: none;
     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
     font-size: 3vmin;
     cursor: pointer;
}

#newgame {
     padding: 1rem;
     font-size: 1.25rem;
     background-color: rgb(179, 148, 12);
     border-radius: 0.5rem;
     border: none;
     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
     font-size: 3vmin;
     cursor: pointer;
}

#msg {
     color: brown;
     font-size: 8vmin;
}

.msgContainer {
     height: 100vmin;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
     cursor: pointer;
}

.hide {
     display: none;
}